body {
    font-family: sans-serif;
    display: flex;              
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;                   
    background-color: rgb(71, 8, 100);
}

.score-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 335px;
}

.game-container {
    width: 335px;
    height: 335px;
    border: 1px solid #250a22;
    background-color: #3d1a33;    
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 5px;                 
}

.grid-cell {
    width: 80px;
    height: 80px;
    background-color: rgb(85, 0, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;              
    color: white;                  
    font-weight: bold;             
    border-radius: 5px;            
}

/* Стили для текста "Счет", "Высокий балл" и кнопки*/
.score-container div {
    background-color: rgb(45, 0, 30);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

/* Сообщение об окончании игры */
.game-over {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.game-over button {
    background-color: rgb(71, 8, 100);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.game-over button:hover {
    background-color: rgb(100, 20, 140);
}
